@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
	background: radial-gradient(#662573 0%, #310839 100%);
}
.main {
	font-family: "Poppins";
	background: linear-gradient(180deg, #13124d 27.88%, #532f7f 100%);
	border-radius: 15px;
	border: solid #946bbd 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 30px;
	width: max-content;
	color: #ffffff;
}
.Top {
	padding: 10px;
	background-color: #de9f29;
	border-radius: 10px;
}
.perso {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.perso1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.perso2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.perso3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bar {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 95%;
	background-color: #13124d;
	border-radius: 9999px;
	padding: 3px;
}
.CD {
	display: flex;
	justify-content: center;
	width: 52%;
	border-radius: 9999px;
	background-color: #ffffff;
	color: black;
}
